body {
  margin : 10px;
}
header {
  display: flex;
  justify-content: center;
}
h1.title {
  font-family: Ubuntu, Segoe, 'Lucida Grande', sans-serif;
  width: 600px;
}
.icon {
  display: none;
}
.add-p {
  display: flex;
  justify-content: center;
}
img.add_png {
  margin-right: 5px;
}
.add {
  color: #ffffff;
  font-weight: bold;
  background-color: #cccccc;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  border: 0px solid #dddddd;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.add:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.add:active {
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.main-p {
  display: inline-block;
  width: 570px;
}
.timezone-container-p {
  width: 570px;
  display: flex;
  align-items: center;
}
.timezone-container {
  display:inline-block;
  margin: 10px 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 1s;
}
.clock-preview {
  width: 135px; height: 135px;
  margin: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  transition: 0.2s;
}
.disp-as-icon {
  border: 2px solid #00BCD4;
}
.clock_time {
  font-weight: bold;
}
div.dummy-inner-container-p {
  display: flex;
  justify-content: flex-end;
}
.dummy-inner-container {
  margin-right: 30px;
  width: 350px;
  opacity: 0.5;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.6s;
}
.innerItem {
  margin: -5px 25px 10px 25px
}
.remove-icon-p {
  text-align: right;
  margin: 3px;
}
.remove-image {
  padding:0; margin:0;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.remove-image:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.remove-image:active {
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.setting-item {
  margin: 0px 0px 10px 0px;
}
.update-label {
  margin-left: 10px
}
.change-order {
  margin: 0px 5px;
  cursor: pointer;
}
#main-container {
  display:flex;
  justify-content: center;
}
div.snack_bar {
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  z-index: 2;
  transition: 0.5s;
}
span.snack_bar_text {
  background-color: #666;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px 5px 0px 0px;
}
.opacity_0 {
  opacity: 0;
}
