body { }
.icon {
  display: none;
}
.ctrl-p {
  display: flex;
  width: 100%;
  margin-bottom: 6px;
}
.gear-p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px; height: 20px;
  padding: 0px;
  transition: 0.2s;
  border-radius:50%;
  background-color: #ffffff;
  cursor: pointer;
}
.gear-p:hover {
  background-color: rgba(0,0,0,0.16);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.gear-p:active {
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.gear {
  cursor: pointer;
  border-radius:50%;
}
.timer-slider-p {
  display: flex;
  justify-content: center;
  height: 20px;
  padding: 2px;
  border: 0px solid #eeeeee;
  margin-left: 2px;
}
.timer-slider {
  padding: 2px;
  cursor: pointer;
  transition: opacity .2s;
}
.slider-check {
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.clock_container {
  display: flex;
  justify-content: center;
}
.clockface_p {
  text-align: center;
  width: 80px;
}
.clock_city {
  text-align: center;
}
.clock_date, .clock_time {
  text-align: center;
}
.clock_date {
  font-weight: bold;
}
.clockface {
  display: flex;
  align-items: center;
  justify-content: center;
}
